# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

claude_desktop_config.json